rules_version = '2';

// By default, deny all reads and writes
service firebase.storage {
  match /b/{bucket}/o {
    
    // Allow anyone to read any file. This is necessary so that images
    // in posts or wishlists can be displayed to all users.
    match /{allPaths=**} {
      allow read;
    }
    
    // Allow a user to write to a path only if it's within a folder
    // that matches their own user ID. This prevents users from uploading
    // files into other users' directories.
    // Example valid path: /post-images/USER_ID_123/my_image.jpg
    match /{imageType}/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
